
/*----------------menu-------------*/
.menu
{
 background-color:#c00453 !important;
}
/*---------------SECCION inicio------------*/
.Inicio_header
{
    background: url(../images/portada_2.jpg) 100% 100%;
    padding-top: 48%;
	color: #fff;
	text-align: center;
}
h1
{
    font-family: 'Caveat', cursive;
    color:blueviolet;
}
#Portafolio,#Contactos
{
    margin: 5%;
}
.contactos
{
    margin: 0 30%;
}
